.footer {
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #eee;
    
    & > .columns {
        width: 100%;
    }

    .textBox {
        textarea {
            line-height: 1rem;
        }
    }

    .sendButton {
        line-height: 1rem;
        
        button {
            margin-left: 5px;
            min-width: 80%;
        }
    }
}